
@font-face {
  font-family: 'Noto Sans KR';
  src:url('./style/fonts/NotoSansKR-Light.otf') format('truetype');
  font-weight: 200;
} 

@font-face {
  font-family: 'Noto Sans KR';
  src:url('./style/fonts/NotoSansKR-Regular.otf') format('truetype');
  font-weight: 400;
} 

@font-face {
  font-family: 'Noto Sans KR';
  src:url('./style/fonts/NotoSansKR-Medium.otf') format('truetype');
  font-weight: 500;
} 

@font-face {
  font-family: 'Noto Sans KR';
  src:url('./style/fonts/NotoSansKR-Bold.otf') format('truetype');
  font-weight: bold;
} 

@font-face {
  font-family: 'Noto Sans KR';
  src:url('./style/fonts/NotoSansKR-Bold.otf') format('truetype');
  font-weight: 700;
} 

input::placeholder {
  font-size: 12px;
}

textarea::placeholder {
  font-size: 12px;
}